<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>가입인사 게시판</title>

</head>
<body>
<a href="/board/welcome">목록으로</a><br>
<h2 style="margin: 20px 200px">가입인사 게시판</h2>

<div style="background-color: beige; margin: 0 200px">
    <div style="background-color: dodgerblue; height: 2px; margin: 0"></div>
    <h4 style="margin: 0" th:text="${article.getTitle}"></h4>
    <span style="margin: 0" th:text="${article.getWriter}+' | '+${article.getWriteDate()}"></span>
    <div style="background-color: grey; height: 1px; margin: 0"></div>
</div>
<div style="background-color: #f1f1f1; margin: 0 200px; height: 700px">
    <br>
    <span style="background-color: #f1f1f1;" th:text="${article.getContent}"></span>
</div>

<!--글수정 버튼-->
<div style="text-align: right;margin: 5px 200px;">
    <form th:action="@{/board/welcome/article/{bno}(bno = ${article.getBno})}" method="post" id="delete">
        <button th:if="${session.id==article.getWriter()}" type="button" id="writeBtn" class="btn"
                th:onclick="|location.href='@{/board/welcome/article/{bno}(bno = ${article.getBno})}'|"
                style="
            background-color: grey;
            font-weight: bold;
            height: 40px;
            width: 70px;
            font-size: 15px;
            color: white">수정
        </button>
        <input type="hidden" name="_method" value="delete"/>
        <button th:if="${session.id==article.getWriter()}" type="submit" id="deleteBtn" class="btn"
            style="
            background-color: grey;
            font-weight: bold;
            height: 40px;
            width: 70px;
            font-size: 15px;
            color: white">삭제
        </button>
    </form>
</div>

</body>
</html>