<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjh.projectilsancommunity.repository.mybatis.BoardMapper">

    <select id="articlesList" resultType="Board">
        select *
        from ${boardName}
        <if test="limit1 != null and limit2 != null">
            order by bno desc limit ${limit1}, ${limit2};
        </if>
    </select>


    <select id="articlesListSize" resultType="int">
        select count(*) from ${boardName};
    </select>


    <select id="getArticle" resultType="Board">
        select *
        from ${boardName}
        where bno = ${bno}
    </select>

    <update id="increaseViewCnt">
        update ${boardName}
        set view_cnt=view_cnt + 1
        where bno = ${bno}
    </update>

    <insert id="writeArticle">
        insert into ${boardName} (title, content, writer, write_date)
        values (#{board.title}, #{board.content}, #{board.writer}, now())
    </insert>

    <update id="modifyArticle">
        update ${boardName}
        set title=#{board.title},
            content=#{board.content}
        where bno = #{board.bno}
    </update>

    <delete id="removeArticle">
        delete
        from ${boardName}
        where bno = #{bno}
    </delete>

</mapper>