<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjh.projectilsancommunity.repository.mybatis.BoardMapper">

    <select id="articlesList" resultType="Board">
        select *
        from board_welcome
    </select>

    <select id="getArticle" resultType="Board">
        select *
        from board_welcome where bno=${bno}
    </select>

    <update id="increaseViewCnt">
        update board_welcome set view_cnt=view_cnt+1 where bno=${bno}
    </update>

    <insert id="writeArticle">
        insert into board_welcome (title, content, writer, write_date)
        values (#{title},#{content},#{writer},now())
    </insert>

</mapper>