<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- 상단 네비게이션 바 css 관련 -->
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 상단 네비게이션 바 css 관련 끝 -->

    <title>Home</title>
</head>
<body>
<!-- 상단 네비게이션 바-->

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a th:if="${session.id==null}" href="/login">로그인</a>
    <a th:if="${session.id==null}" href="/user/signup">회원가입</a>
    <a th:if="${session.id!=null}" href="/logout">로그아웃</a>
    <a href="/board/welcome">가입인사</a>
    <a href="#about">테스트2</a>
    <a href="#about">테스트3</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<!-- 상단 네비게이션 바 끝-->

<h1>
    <span th:if="${session.name!=null}" th:text="${session.name}"></span>
    <span th:if="${session.name!=null}">님 </span>
    일산에 오신걸 환영합니다.
</h1>

</body>
</html>
